<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>数据库索引</title>
</head>
<body>
    <h2 style="background-color:#2a2828;color:white;font-size:31.5px;line-height:40px;margin:2px -8px">数据库索引</h2>
    <hr />
    <div style="overflow:hidden;margin:0 100px;">
        <div style="float:left">
            <span>前言数据库</span><a href="/Homes/Index">点击进入</a><br /><br />
            <span>百科知识库</span><a href="/Pedias/Index">点击进入</a><br /><br />
            <span>体温与疾病库</span><a href="/BodyTems/Index">点击进入</a><br /><br />
        </div>
        <div style="float:left;margin-left:80px">
            <span>红外热医学应用库</span><a href="/Infras/Index">点击进入</a><br /><br />
            <span>新闻动态库</span><a href="/News/Index">点击进入</a><br /><br />
            <span>前沿研究库</span><a href="/Nows/Index">点击进入</a><br /><br />
        </div>
    </div>
    <style>
        span {
            font-weight:bold;
            margin-right:20px;
        }
        a{
            font-size:smaller;
            float:right;
        }
    </style>
</body>
</html>
