@model PM25.Models.Pedia
@Styles.Render("~/Content/Show.css")
@{
    ViewBag.Title = "Show";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="map-text-play">
    <div class="map-text" > 
        <h1>@Model.title</h1>       
        @MvcHtmlString.Create(@Model.text)   
        </div>
    </div>

        
