@*@model PM25.Models.Pedia*@
@model IEnumerable<PM25.Models.Pedia>
@{
    ViewBag.Title = "更多百科";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/More.css")
<div class="wraper">
    <div class="wraper-con">
        <ul>  
           @foreach (var item in Model)
            {
                <li><a href="/More/Show/@Html.DisplayFor(modelItem => item.ID)">
                    @Html.DisplayFor(modelItem => item.title)</a>
                </li>
            }
</ul>
    </div> 
</div>
