.wraper {
    /*margin: 10% 10%;*/
    width: 100%;
    background-color: #f7f7f7;
    overflow: hidden;
    float: left;
}
.wraper ul {
    list-style: none;
    padding: 20px 50px;
    border: 1px solid #d1d1d1;
}
.wraper ul li {
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    padding: 1px 10px 0px 30px;
    white-space: nowrap;
    background: url('Img/list-image.png') 7px center no-repeat;
    cursor:pointer;
}
.wraper ul li:hover,.wraper ul li a:hover{
    color: #1a87ff;
}