.cyclopedia{
    overflow: hidden;
}

.baidu-knowledge{
    float: left;
    width: 30%;
    height:500px;
    border: 1px solid #cbcaca;
    background-color: #f7f7f7;
}

.baidu-knowledge h3{
    margin: 5% 10%;
}

.baidu-knowledge h3 .lefts {
    font-size:22px;
    padding-bottom: 3px;
    cursor:pointer;
}

.baidu-knowledge h3 .rights {
    font-size:10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40%;
}

.baidu-knowledge h3 .rights:hover{
    color:  crimson;
}

.knowledge{
    margin: 0 10% 10%    ;
    height: 400px;
    overflow: hidden;
    border: 1px solid #cbcaca ;
    padding-top: 30px;
    padding-left: 5px;
    list-style: none;
}


.knowledge li{
    line-height: 30px;
    font-size: 12px;
    background: url('img/list-image.png')8px center no-repeat;
    padding-left: 33px;
    font-family: -webkit-pictograph;
    cursor:pointer;
}

ul.knowledge li:hover{
    color: #1a87ff;
}

.text-introduction{
    margin-top: 10px;
    margin-right: 0.5%;
    float: right;
    width: 68%;
    height: 500px;
    border: 1px solid #cbcaca;
    background-color: rgba(203, 202, 202, 0.13);
    overflow-y: scroll;
}

.text,.list-text{
    list-style-type: none;
    overflow: hidden;
}
h4{
    background: url('img/list-image.png')8px center no-repeat;
    background-size: 20px;
    padding-left: 40px;
    overflow: hidden;
    margin-bottom: 0;
    cursor: pointer;
    float: left;
}

h4:hover{
    color: #1a87ff;
}

.btn{
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: #cccccc;
}

