.text{
    list-style-type: none;
    overflow: hidden;
    padding-top:3%;
    padding-left: 5%;
    padding-right:5%;
    padding-bottom:3%;
}
h4 {
    background: url('img/list-image.png')8px center no-repeat;
    font-size:20px;
    padding-left: 40px;
    overflow: hidden;
    margin-bottom: 8px;
    margin-top:20px;
    cursor: pointer;
    float: left;

}

.text li a {  
    overflow:hidden;
    margin-top:20px;
    float:right;   
    }

.text li a:hover {
        color:#56d766;
    }

.summary {
    clear:both;
    line-height:1.5em;
}
