.map-text-play{
    border: 1px solid #d1d1d1;
    background: rgba(247, 247, 247, 0.47);
    text-indent: 2em;
    background-color:#f7f7f7;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.map-text-play header{
    font-size: 2em;
    font-weight: bold;
    margin-bottom:20px;
}

.map-text{
    list-style-type: none;
}

.map-text li h4{
    font-size:20px;
    font-weight:normal ;
    color:black;
   padding-bottom:10px;
}

.map-text li p{
    color: #606060;
    line-height: 1.7em;
    padding-bottom :20px;
}

.map-text li .wumai{
    height: 400px;
    float: right;
    margin: 20px 10px 0 20px;
}

.map-text li .heiyun{
    height: 300px;
    display: block;
    margin: 20px auto;
}