.con-L{
    height: 500px;
    width: 30%;
    float: left;
    overflow: hidden;
    border: 1px solid #cdcaca;
    background-color: #f7f7f7;
}
.con-L h1{
    margin: 5% 10%;
}
.con-L h1 .title{
    font-size: 22px;
    padding-bottom: 3px;
}
.con-L h1 .more{
    font-size: 15%;
    padding-left: 45%;
}
.con-L ul{
    height: 370px;
    margin: 0 10% 10%;
    padding: 30px 0 0 5px;
    border: 1px solid #cdcaca;
}
.con-L li{
    height: 23px;
    line-height: 23px;
    font-size: 10px;
    list-style: none;
    background:url('img/list-image.png')8px center no-repeat;
    padding-left: 33px;
}
.con-R {
    float: right;
    width: 68%;
    overflow: hidden;
    height: 500px;
    border: 1px solid #cdcaca;
    background-color: #f7f7f7;
}