.con-L{
    height: 500px;
    width: 30%;
    float: left;
    overflow: hidden;
    border: 1px solid #cdcaca;
    background-color: #f7f7f7;
}
.con-L h1{
    margin: 5% 10%;
}
.con-L h1 .title{
    font-size: 22px;
    padding-bottom: 3px;
}
.con-L h1 .more{
    font-size:10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40%;
}
.con-L h1 .more a:hover{
    color:  crimson;
}
.con-L ul{
    height: 370px;
    margin: 0 10% 10%;
    padding: 30px 0 0 5px;
    border: 1px solid #cdcaca;
    list-style-type:none;
}
.con-L li{
    line-height: 26px;
    font-size: 13px;
    background: url('img/list-image.png')8px center no-repeat;
    padding-left: 33px;
    font-family: -webkit-pictograph;
    cursor:pointer;
}
.con-L li:hover{
    color: #1a87ff;
}
.con-R {
    float: right;
    width: 68%;
    overflow-y: auto;
    height: 500px;
    border: 1px solid #cdcaca;
    background-color: #f7f7f7;
    font-family: CustomFont,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
.con-R ul{
    margin:20px 10px;
    padding-left:30px;
}
.con-R li{
    list-style:none;
    overflow:hidden;
    margin-bottom:10px;
}
.con-R li .R{
    width:120px;
    height:100px;
    border:2px solid #2a2828;
    float:left
}
.con-R li .R:hover{
    border:2px solid #ff6a00;
}
.con-R li .img{
    background-color:black;
    width:120px;
    height:100px;
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    overflow:hidden;
}
.con-R li img{
    max-width:118px;
    max-height:98px;
    border:1px solid #ffffff;
}
.con-R li p{
    overflow:hidden;
    padding:10px 20px;
    line-height:23px;
}
.con-R li p a{
    text-decoration:none;
}
.con-R li p a:hover{
    color:red;
}