@{
    ViewBag.Title = "Detail";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Detail.css")
    
<div class="body-main">
    <div class="home-body-left">
        <h1>
            <span class="lefts">百科知识</span>
            <span class="rights">@Html.ActionLink("MORE", "More_info", "Home")</span>
        </h1>
        <div class="left-con">
            <ul>
                <li>雾霾天应该停止所有的健身锻炼吗？</li>
                <li>家用PM2.5检测仪测量的数据不靠谱</li>
                <li>严重雾霾天，还能继续佩戴隐形眼镜</li>
                <li>什么时段、什么季节PM2.5浓度最高？</li>
                <li>24小时内我们吸入了多少PM2.5？</li>
                <li>为什么冬季供暖对空气的污染贡献..</li>
                <li>车载净化器能去除车内的PM2.5吗？</li>
                <li>商场内的空气很伤人</li>
                <li>雾霾为什么会影响能见度？</li>
                <li>外界的气象条件会对雾霾产生怎样.</li>
                <li>防雾霾这些你都做对了吗？盘点防.</li>
                <li>露天烧烤：潜在危害知多少</li>
            </ul>
        </div>
    </div>
    <div class="home-body-right">
        <div class="rights-con">
            <div class="detail-introduce">
                <h1>红外远线</h1>
                <p>
                    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
                    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
                </p>
                <img src="../Content/Img/Detail.jpg">
                <p>
                    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论,产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
                    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
                    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
                    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
                    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
                    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
                    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
                    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
                    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
                    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
                    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
                    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
                    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。v
                    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
                    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
                </p>
                <img src="../Content/Img/Detail.jpg">
                <p>
                    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
                    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
                    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
                    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
                    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
                    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
                    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
                    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
                    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
                    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
                    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
                    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
                    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
                    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。v
                    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
                    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
                </p>
            </div>



        </div>
    </div>
</div>

