@{
    ViewBag.Title = "Detail";
}
@{
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

@Styles.Render("~/Content/Detail.css")

<h1>红外远线</h1>
<p>
    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
</p>
<img src="~/Content/Img/Detail.jpg">
<p>
    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论,产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。v
    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
</p>
<img src="~/Content/Img/Detail.jpg">
<p>
    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。v
    温玉保健床是根据中国医学推拿按摩原理欧美保健科技并融合参考中医经络学理论，
    产品采用天然玉石材料，利用现代远红外线光波技术研制而成。
</p>